.login-container {
    height: 80vh;
    display: flex;
    align-items: center;
}

.login-content {
    padding: 50px 10px;
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background:url("../../images/1.jpg") ;
}

.login-content div {
    width: 60%;
    margin: 0 auto;
}

.login-password-div {
    position: relative;
}

.login-content input {
    display: block;
    width: 60%;
    margin:  auto;
    margin-top: 15px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
}

.login-show-password {
    position: absolute;
    font-size: 20px;
    top: 25px;
    right: 21%;
    cursor: pointer;
}

.login-content h3 {
    margin-top: 5%;
    text-align: center;
    color: white;
    height: 50px;
}

.login-content h3 a {
    text-decoration: none;
    color: #ffc300;
}

.login-button {
    display: block;
    background-color: #573b8a;
    color: white;
    width: 60%;
    margin:  auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;

}