.signUp-container {
  height: 80vh;
  display: flex;
  align-items: center;
}

.signUp-content {
  padding: 50px 10px;
  width: 50%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: url("../../images/1.jpg");
}

.signUp-content div {
  width: 60%;
  margin: 0 auto;
}

.signUp-password-div {
  position: relative;
}

#userTypeSelect {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
}
.signUp-content input {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
}

.signUp-show-password {
  position: absolute;
  font-size: 20px;
  top: 25px;
  right: 21%;
  cursor: pointer;
}

.signUp-content h3 {
  margin-top: 5%;
  text-align: center;
  color: white;
  height: 50px;
}

.signUp-content h3 a {
  text-decoration: none;
  color: #ffc300;
}

.signUp-button {
  display: block;
  background-color: #573b8a;
  color: white;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* ------------------------------------- responsive ------------------*/

@media (max-width: 600px) {
  .signUp-container {
    height: 60vh;
  }
  .signUp-content {
    width: 90%;
  }

  .signUp-content div,
  .signUp-content input {
    width: 90%;
  }

  .signUp-show-password {
    right: 7%;
  }
}
